# IDEA directory
.idea/

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary
*.test

# Logs files
*.log
*.logs

# Data files
*.xls
*.csv
*.txt

# Mod files
*.mod

# Output of the go coverage tool
*.out

# Dependency directories
vendor/